*{
    margin:0 0 0 0;
    padding:0 0 0 0;
    box-sizing: border-box;
}
.body{
    display: flex;
    flex-direction: row;
}
.nav{
    height: 700px;
    width: 15%;
    margin: 0px 0px 0px 85%;
    background-color: grey;
}
.main{
    margin: 0px 15% 0px 0px;
}
.titulo{
    width: 20px;
}

