*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.aside{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 700px;
    width: 15%;
    margin: 0px 0px 0px 85%;
    padding: 50px 0px 20px 0px;
    background-color: grey;
}
.logo{
    height: 94px;
    width: 90px;
}
.main{
    display: flex;
    align-items: center;
    margin: 0px 16% 0px 0px;
    top: 0px;
    background-color: blue;
}
.titulo{
    width: 20px;

}
